<div class="mt-4 container">
  <h3>
    <form method = "POST" action = "/courses/{{course._id}}?_method=PUT" enctype="multipart/form-data">
      <div class="mb-3 form-class">
        <label for="name" class="form-label">Name Course</label>
        <input type="text" class="form-control" value = "{{course.name}}" id="name" name="name">
      </div>

      <div class="mb-3 form-class">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" name="description">{{course.description}}</textarea>
      </div>

      <div class="mb-3 form-class">
        <label for="idvideo" class="form-label">Video</label>
        <input type="text" class="form-control" value = "{{course.idvideo}}" id="idvideo" name="idvideo">
      </div>

      <div class="mb-3 form-class">
        <label for="level" class="form-label">Level</label>
        <input type="text" class="form-control" value = "{{course.level}}" id="level" name="level">
      </div>

      <div class="mb-3 form-class" upload-image-new>
        <label for="img" class="form-label">Select a new image</label>
        <input type="file" class="form-control-file" id="upload-image-input-new" name="img" accept="image/*">
      </div>

      <button type="submit" href="../me/stored-courses.hbs" class="btn btn-primary">Save Update</button>
    </form>
  </h3>
</div>

